/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);*/

/**{margin:0;padding:0;}*/
body, table, tr, td, p {
    /*font-family: "MS Sans Serif", verdana, tahoma;*/
    /*font-size: 13px;*/
    font-family:		tahoma, helv, arial, verdana, sans-serif;
    font-size:			11px;
    margin:				0;
    padding:			0;
}


.button2{

border:1px solid #D7DADA; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:11px;
font-family:arial, helvetica, sans-serif; text-decoration:none; display:inline-block;text-shadow: 2px 2px 0 rgba(102,102,102,0.3);font-weight:bold; color: #000000;
background-color: #F4F5F5; background-image: -webkit-gradient(linear, left top, left bottom, from(#F4F5F5), to(#DFDDDD));
background-image: -webkit-linear-gradient(top, #F4F5F5, #DFDDDD);
background-image: -moz-linear-gradient(top, #F4F5F5, #DFDDDD);
background-image: -ms-linear-gradient(top, #F4F5F5, #DFDDDD);
background-image: -o-linear-gradient(top, #F4F5F5, #DFDDDD);
background-image: linear-gradient(to bottom, #F4F5F5, #DFDDDD);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F4F5F5, endColorstr=#DFDDDD);
}

.button2:hover{

border:1px solid #BFC4C4;
background-color: #D9DDDD; background-image: -webkit-gradient(linear, left top, left bottom, from(#D9DDDD), to(#C6C3C3));
background-image: -webkit-linear-gradient(top, #D9DDDD, #C6C3C3);
background-image: -moz-linear-gradient(top, #D9DDDD, #C6C3C3);
background-image: -ms-linear-gradient(top, #D9DDDD, #C6C3C3);
background-image: -o-linear-gradient(top, #D9DDDD, #C6C3C3);
background-image: linear-gradient(to bottom, #D9DDDD, #C6C3C3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#D9DDDD, endColorstr=#C6C3C3);
}
.btn {
    background: #E6E6E6;
    background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #000000;
    font-size: 11px;
    text-decoration: none;
}

.btn:hover {
    background: #cdcdcd;
    background-image: -webkit-linear-gradient(top, #cdcdcd, #b3b3b3);
    background-image: -moz-linear-gradient(top, #cdcdcd, #b3b3b3);
    background-image: -ms-linear-gradient(top, #cdcdcd, #b3b3b3);
    background-image: -o-linear-gradient(top, #cdcdcd, #b3b3b3);
    background-image: linear-gradient(to bottom, #cdcdcd, #b3b3b3);
    text-decoration: none;
}
